:root {
  --primary-colour: #3F826D;
  --secondary-colour: #F0F4EF;
  --accent1-colour: #B38A58;
  --accent2-colour: #1B5299;
  --heading-font: "Sriracha", sans-serif;
  --body-font: "Monsterrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

/* use a value from 100 to 900 for weight */
.montserrat-spicy {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-colour);
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}

header {
  margin: 1rem auto;
  background-color: var(--primary-colour);
  color: var(--accent2-colour);
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	font-family: Arial, sans-serif;
}

.navigation li {
	flex: 1 1 auto;
  border: rgba(0, 0, 0, 0.623) solid 2px;
  text-align: center;
  padding: 1rem;
  margin: 5px;
}

.navigation a {
  text-decoration: none;
  color: black;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-colour);
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

.socialmedia {
  grid-column: 2;
}

.socialmedia img {
  width: 30px;
  height: auto;
  margin-inline: 5px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-colour);
  color: black;
}

article {
  top: 100px;
  position: absolute;
  border: var(--accent2-colour) solid;
  width: 96%;
  padding: 5px 0;
  text-align: center;
  background-color: var(--secondary-colour);
  opacity: 0.8;
  color: black;
}

.hero article img {
  float: right;
  width: 125px;
  box-shadow: 2px 3px var(--primary-colour);
}

.history {
  display: grid;
  grid-template-rows: 50px 400px;
  grid-template-columns: 1fr 1fr 1fr;
}

.history img {
  width: 100%;
  grid-area: 2 / 2;
}

.history h2 {
  grid-area: 1 / 2;
  text-align: center;
}

.history p {
  grid-area: 2;
}

.adventures {
  display: grid;
  grid-template-rows: 50px 180px;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.adventures h2 {
  grid-column: 1 / 6;
  text-align: center;
}

.adventures img {
  width: 100%;
  grid-area: 2;
  padding: 1px;
}

.adventures figcaption{
  text-align: center;
}

footer {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

footer p {
  text-align: right;
}