:root {
  --primary-colour: #3F826D;
  --secondary-colour: #F0F4EF;
  --accent1-colour: #85643d;
  --accent2-colour: #1B5299;
  --heading-font: "Sriracha", sans-serif;
  --body-font: "Monsterrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

/* use a value from 100 to 900 for weight */
.montserrat-spicy {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-colour);
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}

header {
  margin: 1rem auto;
  background-color: var(--primary-colour);
  color: var(--accent2-colour);
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.logo img {
  margin: 0 0.25rem 0 1rem;
  width: 64px;
  height: auto;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navigation li {
  flex: 1 1 auto;
  border: rgba(0, 0, 0, 0.623) solid 2px;
  text-align: center;
  padding: 1rem;
  margin: 5px;
}

.navigation a {
  text-decoration: none;
  color: black;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-colour);
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

.socialmedia {
  grid-column: 2;
}

.socialmedia img {
  width: 30px;
  height: auto;
  margin-inline: 5px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-colour);
  color: black;
}

.hero article {
  top: 100px;
  position: absolute;
  border: var(--accent2-colour) solid;
  width: 96%;
  padding: 5px 0;
  text-align: center;
  background-color: var(--secondary-colour);
  opacity: 0.8;
  color: black;
}

.hero article img {
  float: right;
  width: 125px;
  box-shadow: 2px 3px var(--primary-colour);
}

.history {
  display: grid;
  grid-template-rows: 50px 400px;
  grid-template-columns: 1fr 1fr 1fr;
}

.history img {
  width: 100%;
  grid-area: 2 / 2;
}

.history h2 {
  grid-area: 1 / 2;
  text-align: center;
}

.history p {
  grid-area: 2;
}

.adventures {
  display: grid;
  grid-template-rows: 50px 180px;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.adventures h2 {
  grid-column: 1 / 6;
  text-align: center;
}

.adventures img {
  width: 100%;
  grid-area: 2;
  padding: 1px;
}

.adventures figcaption {
  text-align: center;
}

footer {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

footer p {
  text-align: right;
}

ul {
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

li {
  padding: 1rem;
}

.map {
  position: relative;
  height: 300px;
}

.map iframe {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.employees {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--secondary-colour);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.employees img {
  width: 100%;
  height: auto;
  padding: 5px;
}

.employees figcaption {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary-colour);
}

form {
  width: 650px;
  margin: 0 auto;
  border: 1px solid var(--accent2-colour);
  border-radius: 0.5rem;
  background-color: var(--secondary-colour);
  display: grid;
}

fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  border: 1px solid var(--accent2-colour);
  padding: 1rem;
}

legend {
  padding: 0.5rem;
  color: var(--accent1-colour);
  font-size: 1.3em;
}

label {
  text-align: right;
  padding-right: 1rem;
}

textarea {
  width: 90%;
}

input,
select,
textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

button {
  margin: 1rem;
  background-color: var(--accent2-colour);
  color: var(--secondary-colour);
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: var(--primary-colour);
}

.form-item {
  padding: 0.5rem;
}

.mission {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 2fr 1fr;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--secondary-colour);
}

.mission h2 {
  grid-column: 1 / 3;
  text-align: center;
}

#mission-image-1 {
  grid-column: 1;
}

#mission-image-2 {
  grid-column: 2;
}

.mission img {
  width: 380px;
  height: 100%;
  grid-row: 2;
}

.mission p {
  grid-column: 1 / 3;
  text-align: center;
  font-size: 1.2rem;
}

.banner {
  position: relative;
  width: 100%;
  margin: 0;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner article {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 300px;
  height: 150px;
  text-align: center;
  background-color: var(--secondary-colour);
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.banner article h2 {
  text-align: center;
  color: var(--primary-colour);
  font-size: 1.5rem;
  padding: 0.1rem;
}

.banner article a {
  text-decoration: none;
  color: var(--secondary-colour);
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: var(--accent2-colour);
  border-radius: 0.5rem;
}

.newsletter {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
}

.newsletter h2, p {
  grid-column: 1 / 2;
}

.newsletter form {
  grid-column: 2 / 3;
  width: 100%;
}

.form-adventures label, input {
  padding: 0.2rem;
}
